/***********/

/* GLOBAL */

/**********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: white;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(251, 249, 255);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/***********/

/* REUSABLE */

/**********/

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 88%;
  position: relative;
  height: 100%;
}

section:not(:last-of-type) {
  padding: 6rem 0;
}

.section-heading {
  margin: 0 0 4rem 0;
  font-size: 3rem;
  text-align: center;
  opacity: 0.5;
  color: black;
}

.section-heading h2 {
  text-transform: uppercase;
  position: relative;
}

.section-heading h2::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 15rem;
  background: gray;
}

.section-heading > h6 {
  margin-top: 2rem;
  font-weight: 300;
}









