@media screen and (min-width: 768px) {
  section {
    margin: 12rem 0;
  }
  .section-heading {
    letter-spacing: 0.3rem;
    font-size: 5rem;
  }
  .section-heading > h6 {
    letter-spacing: 0.3rem;
    font-size: 2rem;
  }
  .menu-toggler {
    top: 5rem;
    right: 5rem;
  }
  .landing-text h1 {
    font-size: 14rem;
  }
  .landing-text h6 {
    font-size: 2.5rem;
  }
  .profile-img::after {
    content: "";
    position: absolute;
    left: -4rem;
    top: -4rem;
    height: 98%;
    width: 98%;
    border: 2rem solid white;
    z-index: -5;
    opacity: 0.3;
  }
  .about-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }
  .about-text {
    order: 2;
    text-align: left;
  }

  .about-text p {
    font-size: 3rem;
  }
  .profile-img {
    margin: 0 auto;
    width: 100%;
    margin-right: 2rem;
    order: 1;
  }
  .skill h6 {
    font-size: 1.8rem;
  }
  .icon {
    width: 50%;
  }
  /* PROJECT */
  .project-item {
    flex-direction: row;
  }
  .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .project-item {
    height: 300px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .all-projects .project-description {
    height: 100%;
  }
  .project-img {
    height: 100%;
  }
  .contact {
    margin-bottom: 0;
  }
  .contact-form {
    width: 50%;
  }
  input[type="text"],
  textarea,
  select {
    border-radius: 1rem;
    border: none;
    width: 100%;
    padding: 2rem;
    margin: 0.5rem 0;
    letter-spacing: 0.2rem;
  }
  input[type="submit"] {
    border-radius: 1rem;
    border: none;
    width: initial;
    padding: 2rem 4rem;
    letter-spacing: 0.2rem;
    font-weight: 800;
    font-size: 1.8rem;
  }
  .social-media-list-bottom > li {
    padding: 0;
  }

  .icon-bottom {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .icon-main {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .nav-list {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .about-content p {
    font-size: 2rem;
  }
}
